*{
    margin: 0;
    padding: 0;
 }

/* Header */

header, footer{
                background: url(../images/5b129de44c25ee014c31ad03590458d8..png) no-repeat center center/cover;
                min-width: 100%;
                box-shadow: 10px 10px 10px rgba(12, 5, 211, 0.548);
                height: 77px;
                background-color: rgb(103, 98, 106);
                display: inline-flex;
              }

header{
         position: sticky;
         position: -webkit-sticky;
         top: 0;
      }
      
footer{
         color: white;
         text-shadow: 0 0 10px white;
      }      

#logo{
     width: 75px;
     height: 75px;
     border-radius: 50%;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.548);
     transition: transform 2s ease-in-out;
   }
  
#logo:hover{
               transform: rotate(360deg);
               box-shadow: 0 0 25px white;
           }   

nav{
      font-size: large;
      margin-top: 25px;
   }   
   
div{
      margin-top: 15px;
   }   

#links{
    display: inline-flex;
    margin-left: 825px;
  }

.menulist{
    list-style: none;
    padding-left: 20px;
    color: darkorange;
  } 
  
a{
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px white;
 }

#menu1, #menu2, #menu3{
                         color: white;
                         text-shadow: 0 0 10px white;
                      } 

a:hover{
         color: rgb(0, 225, 195);
       }          
 
#menu ul #menu1{
   position: relative;
   top: 0;
}

.sub-menu{
display: none;
font-size: 18px;
position: absolute;
color: black;
list-style: disc;
} 

#menu1:hover .sub-menu{
                   display: block;
                   padding: 20px;
                   background-color: rgb(42, 38, 37);
                   border-radius: 15px;
                   box-shadow: 0 0 10px white;
    }
    
    #menu ul #menu2{
      position: relative;
      top: 0;
   }
   
   #menu2:hover .sub-menu{
                      display: block;
                      padding: 20px;
                      background-color: rgb(42, 38, 37);
                      border-radius: 15px;
                      box-shadow: 0 0 10px white;
                          }
                          
#menu ul #menu3{
                  position: relative;
                  top: 0;
               }
                        
                        
#menu3:hover .sub-menu{
                           display: block;
                           padding: 20px;
                           background-color: rgb(42, 38, 37);
                           border-radius: 15px;
                           width: 190px;
                           box-shadow: 0 0 10px white;
                       }                           
   
main {
        min-height: 300vh;
     }

p{
   font-size: 16.5px;
 }


#about, #skills, #testemonial, #resume, #projects, #contact{
   scroll-behavior: smooth;
   scroll-margin-block-start: 90px;
}

#about{
   background: url(../images/Space1.jpg) no-repeat center center/cover; 
}

#resume{
   background: url(../images/High_resolution_wallpaper_background_ID_77700394114.png) no-repeat center center/cover;

}

#projects{
            background: url(../images/High_resolution_wallpaper_background_ID_77700394114.png) no-repeat center center/cover;
         }      

#landingpage{
               background: url(../images/4k-space-wallpaper-1\ .png) no-repeat fixed center center/cover ;
                height: 675px;
               min-width: 95%;
               text-align: center;
               padding: 10px; 
            }           

#lpage{
        padding: 150px;
        font-size: 100px;
        font-family: 'Titillium Web', sans-serif;
        color: black;
        text-decoration-thickness: 5px;
        text-shadow: 0 0 15px white;
      }

#myphoto{
            width: 375px;
            height: 550px;
        }
        
#aboutme{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 20px;
        }
    
#aboutcontent{
               margin-left: 20px;
               padding: 50px;
               margin-top: 100px;
               font-size: 30px;
            }        
        
.content{
         padding: 5px;
         display: inline-flex;
         margin-left: 250px;
       }
   
.contentr{
         padding: 5px;

       }         

dl{
   padding: 10px;
   font-size: 17px;
  }
  
dd{
      margin-left: 75px;
  }  
      
h2{
      text-align: center;
      font-size: 45px;
      border: 3px black solid;
      font-family: century;
      box-shadow: 0px 5px 10px black;
      text-shadow: 5px 5px 8px white;
      background-color: rgb(68, 6, 123);
  }      

#myphoto{
            border-style: ridge;
            border: 5px blue;
        }

.projects{
            display: inline-flex;
         }        
      
.Projectimg{
              width: 800px;
              height: 350px;
              margin-right: 10px;
           }

.git{
            margin-left: 75px;
            margin-top: 30px;
            transition: transform 1s ease-in-out;
    }
             
.git:hover{
                transform: scale(1.25);
          }           

sub{
      font-size: large;
      vertical-align: middle;
   }

.contact{
           display: flex;
           flex-direction: row;
           justify-content: space-between;   
        }           

label{
        width: 175px;
        display: inline-block;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
            
     }


.contactbox{
               border: 6px rgb(175, 0, 0) ridge;
               padding: 20px;
           }     
        
form{
        text-align: auto;
        display: inline-block;
    }      
    
textarea{
            vertical-align: text-top;
        }
        
#submit{
         vertical-align: bottom;
         width: 75px;
         height: 30px;
       }        

li{
    margin-left: 20px;  
  } 

footer{
        font-size: larger;
      }
     
#Copyright{
            margin-left: 1050px;
            text-align: right; 
          }         